// Base thematic styles

body {
  color: $dark-gray;
  font-family: "futura-pt",sans-serif;
  background-color: #fff;
}

#yeezus {
  max-width: 2000px;
  margin: 0px auto;
}

.sf-logo {
  display: inline-block;
  border: solid 3px #efefef;
  width: 60px;
  height: 60px;
  margin: 0 0 20px 0;
  -webkit-transform:rotate(0deg);


  &:hover {
     -webkit-transform:rotate(180deg);
     border-color: #000;
  }
}


#global-nav {
  padding: 6% 0;
  text-align: center;

  a.contribute {
    font-size: 18px;
    display: inline-block;
    color: #000;
    font-weight: bold;
    border-bottom: solid 3px #000;
    padding: 0 0 5px 0;
    margin: 5% 0 0 0;

    &:hover {
      text-decoration:none;
      opacity: 0.4;
    }
  }

  .logo{
    text-align: center;

    h1 {
      font-size: 8vw;
    }

    h2 {
      font-size: 2svw;
      color:rgba(0,0,0,0.4);
    }
  }
}

h2,h3 {
  font-family: "futura-pt",sans-serif;
}

h3 {
  text-transform: uppercase;
  font-size: 45px;
  color: #2e2e2e;
  line-height: 0;
  margin: 0;

  sup {
    font-size: 20px;
  }
}

article {
  .list-date {
    text-align: center;
    padding: 6% 0;

    h3 {
      display: inline-block;
      line-height: normal;
      padding:0 0 0 0;
      font-size: 4vw;
      border-bottom:solid 1px #efefef
    }

  }
}

a {
  color: #000;
  text-decoration: none;
  &:hover {
    color: #000;
    border-bottom: solid 2px #000;
    opacity: 0.8;
  }
}

.bg-light-yellow {
  background-color: #FDEBBB;
}

.third {
  width: 33%;
}

.opacity-25 {
  opacity: 0.5;

  &:hover {
    opacity:1;
  }
}

.ellipsis {
  text-overflow: ellipsis;
}

header {
  h1 {
    font-family: "lust",sans-serif;
  }
}

.insta-people {

  a {
    font-weight: bold;
  }

  .curator {
    position: absolute;
    left: 0;
    top: 70%;
    width: 12%;
    max-width: 5em;
    height: auto;
    z-index: 99999;
  }
}

h1 {
   a {
        &:hover {
          border:none;
        }
      }
}

.social-push {
  width: 90%;
  margin: 0px auto;
  padding: 5% 0 0 0;
  text-align: center;

  &:nth-child(even) {
    display:none;
  }

  p {
    font-size: 20px;

    a {
      border-bottom: solid 2px #000;
      font-weight: bold;
    }
  }

  h2 {
    font-size: 4vw;
  }
}


footer {
  width:80%;
  margin: 5% auto;
  text-align: center;

  p {
    font-size: 1.5vw;
  }

  a {
    padding: 0 0 5px 0;
    font-weight: bold;
  }

  b {
    font-family: "lust",sans-serif;
    font-size: 3vw;
    display: block;
  }
}

#mc-embedded-subscribe-form {
  padding: 4% 0 0 0;

  input {
    -webkit-apperance:none;
    border: solid 1px #ccc;
    padding: 10px;
  }

  #mce-EMAIL {
    &:focus {
      outline:none;
      border-color:#000;
    }
  }

  #mc-embedded-subscribe {
    background: #000;
    color: #fff;
    border-color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;

    &:hover {
      opacity:0.5;
    }
  }
}

.bb-2 {
  border-bottom: 2px solid #000;
}

/* Smartphones (portrait and landscape) hiding all the edit controls ----------- */
@media only screen and (max-width : 560px),only screen and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) and (orientation : landscape) and (device-aspect-ratio: 40/71) {

  html {
    overflow-x:hidden;
  }
  

  .social-push {
  padding: 0 0 15% 0;

  p {
    font-size: 16px;
  }

  h2 {
    font-size: 25px;
  }
}

  footer {
    width:90%;
    margin: 0px auto 40px;
    p {

      b {
        font-size: 26px;
      }

      font-size: 18px;
    }

    a.contribute {
      font-size: 13px;
    }


  }

  .opacity-25 {
    opacity: 1;

    &:hover {
      opacity:1;
     }
  }


  #global-nav {
    margin: 0 0 55px 0;
    padding: 11% 0;

    .logo {

      h1 {
        font-size: 30px;
      }

      h2 {
        font-size: 13px;
      }
    }

    a.contribute {
      font-size: 12px;
    }
  }

  article {
    .list-date {
      padding: 0px 0 40px 0;

      h3 {
        font-size: 29px;

        sup {
          font-size: 15px;
        }

      }
    }
  }


  .insta-people {

    .curator {
      top: 70%;
      left: 55%;
      width: 40px;
    }

    li {
      margin: 15% 0 20% 0;
      position: relative;

      &:before {
        position:absolute;
        z-index: 3;
        top: 0;
        display:block;
        content: " ";
        width: 100%;
        height: 400px;
        background: -moz-linear-gradient(top, rgba(255,255,255,0.90) 0%, rgba(255,255,255,0) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.90)), color-stop(100%,rgba(255,255,255,0)));
background: -webkit-linear-gradient(top, rgba(255,255,255,0.90) 0%,rgba(255,255,255,0) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,0.90) 0%,rgba(255,255,255,0) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,0.90) 0%,rgba(255,255,255,0) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,0.90) 0%,rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ffffff', endColorstr='#00ffffff',GradientType=0 );
      }
    }

        header {
          padding:0 0;
          width: 100%;
          top:-30px;
          text-align: center;
          display: block;
          z-index: 33333;

          a {
            color:#000;
          }

          img {
            display: inline-block;
            float: none;
            width: 80px;
            position: relative;
            z-index: 3333;

            &.mr2 {
              margin: 0 0;
            }

          }

          .insta-meta {
            position: relative;
            margin: 20px 0 0 0;
            width: 100%;
            text-align: center;
            z-index: 99999;
          }
        }

        .table-cell {
          display: inline-block;
          table-layout: none;
          width: 50%; 
          float: left;

          &:first-child {
            width:100%;
          }

          }
  }

}
