// Base thematic styles

body {
  color: $dark-gray;
  background-color: #fff;
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    color: darken($blue, 10%);
    text-decoration: underline;
  }
}

.bg-light-yellow {
  background-color: #FDEBBB;
}

.third {
  width: 33%;
}

.opacity-25 {
  opacity: 0.25;
}

.ellipsis {
  text-overflow: ellipsis;
}

header {
  h1 {
    font-family: "lust",sans-serif;
  }
}
