// Base thematic styles

body {
  color: $dark-gray;
  background-color: #fff;
}

#yeezus {
  max-width: 90%;
  margin: 0px auto;
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    color: darken($blue, 10%);
    text-decoration: underline;
  }
}

.bg-light-yellow {
  background-color: #FDEBBB;
}

.third {
  width: 33%;
}

.opacity-25 {
  opacity: 0.4;

  &:hover {
    opacity:1;
  }
}

.ellipsis {
  text-overflow: ellipsis;
}

header {
  h1 {
    font-family: "lust",sans-serif;
  }
 
  h2 {
     font-family: "nimbus-sans-extended",sans-serif;
  }
}

.insta-people {

  li {
    &:hover {
      header {
        .insta-meta {
          opacity:0;
        }
      }
    }
  }
}
